{% extends 'layout.html' %}


{% block title %}Home{% endblock %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="css/home.css" />
<link rel="stylesheet" href="css/joinpopup.css" />
{% block content %}
<h2>Home Page</h2>
<p>Welcome back, <a id="userID">{{ username }}</a>!</p>


<div>
    <div class="content-header links" style="all:revert">
        <form action="" method="get" class="filters-form">
            <Table style="margin: auto;">
                <tr>
                    <!-- <th style="float: left;"> -->
                    <div class="filters">
                        <td>
                            <!-- <label for="search" style="width: inherit;"></label> -->
                            <div style="display: flex;">
                                <i class="fas fa-search" style="margin: 0px 5px 0px 5px; padding:5px 0px 0px 0px;"></i>
                                <input id="searchbar" onkeyup="searchRooms()" type="text" name="search"
                                    placeholder="Search rooms.." style="min-width: 300px;" >
                            </div>
                        </td>
                    </div>
                </tr>
                <tr>
                    <!-- <div> -->
                    <td style="padding: 5px; display: table; margin: auto;">
                        <a><i class="fas fa-filter" style="padding: 5px;"></i></a>
                        <code class="hljs xml"></code>
                        <select id="selector" onmouseout="sortTable()" name="roomSearchFilter">
                            <option value="Users">Users</option>
                            <option value="Age">Age</option>
                            <option value="Alphabetical">Alphabetical</option>
                            <option value="Cost">Cost</option>
                        </select>
                        </code>
                    <!-- </td>
                    <td> -->
                        <label for="Sort" style="padding: 5px;">Sort:</label>
                        <a onclick="sortASC()" style="padding: 5px;" name="Sort"><i class="fas fa-arrow-up"></i></a>
                        <a onclick="sortDSC()" style="padding: 5px;" name="Sort"><i class="fas fa-arrow-down"></i></a>
                        <strong style="padding: 5px;" id="order">
                            ASC
                        </strong>
                    </td>
                    <!-- </div> -->
                </tr>
            </Table>
        </form>
        <div>
            <p> {{Joke["value"]}}</p>
        </div>
    </div>
    <div id="tableDiv">
        <nav>
            <p id="roomLists" hidden>{{rooms}}</p>

            <table id="activeRooms">

            </table>
        </nav>
    </div>
    <style>
        #tableDiv {
            padding: 5px;
            max-height: 500px;
            overflow-y: scroll;
            border: 1px solid black;
        }

        #activeRooms {
            margin: auto;
            text-align: center;
            padding: 0px 5px;
            background-color: aliceblue;
        }

        #activeRooms td {
            padding: 0px 5px;
        }

        #activeRooms tbody tr td {
            font-weight: bold;
            font-size: 14px;
            padding: 0px 5px;
        }
    </style>

</div>
<script src="js/joinorcreate.js"></script>
<script src="js/home.js"></script>
<script>
    var sortOrder = document.getElementById("order");
    function sortDSC() {
        sortOrder.innerText = "DSC";
        sortTable();
    }
    function sortASC() {
        sortOrder.innerText = "ASC";
        sortTable();
    }
</script>


{% include 'joinorcreate.html' %}

<h2>About</h2>

{% endblock %}