@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background: var(--light-color);
	margin: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 5px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 14px;
	margin: 2px;
}

/* Chat Page */

.chat-commentTbl{
	padding-left: 5px; 
	padding-right: 5px; 
	display: flex; 
	float: right;
}

.chat-commentTbl div{
	padding: 0px 3px 0px 3px; 
	margin: auto;
	/* float:right; */
	/* align-self: center; */
}
.chat-container {
	max-height: 400px;
	max-width: 1100px;
	background: #fff;
	margin: 10px auto;
	/* overflow: hidden; */
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 10px 10px 20px;
	overflow-y: scroll;
	min-width: 240px;
	overflow-x: hidden;
}

.chat-sidebar h2 {
	/* font-size: 20px; */
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 5px;
	/* max-height: 300px; */
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 3px;
	margin-bottom: 5px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 12px;
	/* font-weight: bold; */
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 2px;
}

.chat-messages .message .meta span {
	color: rgb(0, 0, 0);
}

.chat-form-container {
	padding: 5px 10px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 32px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 12px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 12px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
