/* Text alignment for body */
body {
  text-align: center;
}

/* Styling h1 tag */
h1 {
  color: green;
  text-align: center;
}

/* Styling modal */
.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}

@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.modalTable.child > table {
  border: 3px solid #b3adad;
  border-collapse: collapse;
  padding: 3px;
  margin: auto;
}
.modalTable.child > table > th {
  border: 1px solid #b3adad;
  padding: 3px; text-align: center;
  background: #9e9a9a;
  color: #313030;
}
.modalTable.child > table > td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
}