{% extends 'layout.html' %}
<!-- <nav class="navtop">
    <div style="color: #313030; background: #e6e9ff; margin-right: auto; margin-left: auto; padding: 10px; font-size: 20px;">
        <a href="/home" style="margin: 0px 10px 0px 10px;"><i class="fas fa-home"></i></a>
        <a href="/profile" style="margin: 0px 10px 0px 10px;"><i class="fas fa-user-circle"></i></a>
        <a href="/logout" style="margin: 0px 10px 0px 10px;"><i class="fas fa-sign-out-alt"></i></a> -->
        <!-- <i id="settingsBtn" style="margin: 0px 10px 0px 10px;" class="fas fa-cog"></i>
        <i id="mediaBtn" style="margin: 0px 10px 0px 10px;" class="fas fa-sliders"></i> -->
    <!-- </div>
</nav> -->

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content profile">

    <h2>Profile Page</h2>

    <div class="block">

        <p>Your account details are below.</p>

        <div class="profile-detail">
            <strong>Username:</strong>{{ account.username }}
        </div>

        <div class="profile-detail">
            <strong>XP: </strong>{{ stats.xp }}
        </div>

        <div class="profile-detail">
            <strong>Coins: </strong>{{ stats.coins }}
        </div>

        <div class="profile-detail">
            <strong>Email:</strong>
            {{ account.email }}
        </div>

        <div class="profile-detail">
            <strong>Role:</strong>
            {{ account.role }}
        </div>

        <div class="profile-detail">
            <strong>Registered</strong>
            {{ account.registered }}
        </div>

        <div class="profile-detail">
            <strong>Room Creation Config</strong>
            <!-- HTML classCode: Place this code in the document's body (between the 'body' tags) where the table should appear -->
            <table id="roomCfgTable">
                <thead>
                    <tr>
                        <th>Room Config#</th>
                        <th>Topic</th>
                        <th>RoomID</th>
                        <th>Number of Users</th>
                        <th>Watch Cost</th>
                        <th>Join Cost</th>
                        <th>Create Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="rmCfg">
                        <td id="rmCfgTb1">EMPTY</td>
                        <td id="rmCfgTb2"></td>
                        <td id="rmCfgTb3"></td>
                        <td id="rmCfgTb4"></td>
                        <td id="rmCfgTb5"></td>
                        <td id="rmCfgTb6"></td>
                        <td id="rmCfgTb7"></td>
                    </tr>
                </tbody>
            </table>
            <!-- Codes by Quackit.com -->
            <p hidden id="roomCfgTblData">{{ stats.roomConfig }}</p>
        </div>

        <div class="profile-detail">
            <strong>Friends</strong>
            <table id="friendTbl">

            </table>
            <p hidden id="friendTblData">{{ stats.friends }}</p>
        </div>
        <div class="profile-detail">
            <strong>Blocked Users</strong>
            <table id="blockedTbl">

            </table>
            <p hidden id="blockedTblData">{{ stats.blockedUsers }}</p>
        </div>
        <a class="profile-btn" href="/edit_profile">Edit Details</a>


    </div>

</div>


<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
    table.GeneratedTable {
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #625770;
        border-style: solid;
        color: #000000;
    }

    table.GeneratedTable td,
    table.GeneratedTable th {
        border-width: 2px;
        border-color: #625770;
        border-style: solid;
        padding: 3px;
    }

    table.GeneratedTable thead {
        background-color: #4c79a9;
    }
</style>





<script src="js/profile.js"></script>
{% endblock %}